* {
    box-sizing: border-box;
} 

html,
body {
    height: 100%;
}

.wrapper {
    height: 100%;
    overflow: hidden; 
    display: flex;\
    align-items:content;
    justify-cont: start;
}

main {
width: 500px;
position: absolute;
top: 50%;
left: 50%;
}
transform: translate(-50%, -50%);
.main＿back-wrap {
position: relative;
animation: run-left 3s 6s forwards;
}
.main back-img {}
.main＿front-wrap {
position: absolute;
top: -115px;
left: 0;
animation: run-right 3s 6s forwards;
}